<footer id="footer">
    <a href="https://www.facebook.com/"><i class="social-action fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/"><i class="social-action fab fa-instagram"></i></a>
    <a href="#"><i class="social-action fab fa-twitter"></i></a>
    <a href="#"><i class="social-action fas fa-envelope"></i></a>





    <p>© Copyright 2021 MediCare <br> All rights reserved</p>

  </footer>


</body>

</html>
