<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Appointments!</h1>
    <!-- <p class="secret-text">Jack Bauer is my hero.</p> -->
    <hr>
    <div class="box">


    <%  newListItems1.forEach(function(item){ %>


        <div class="item">

          <p><%=item.emailpt%></p>
          <a href="/<%=item._id%>/dr">Open</a>

        </div>


    <%  }) %>
    <!-- <form class="" action="/secrets" method="post">
      <label for="">City</label>
      <input type="text" name="cityloc" value="">
        <button type="submit" class="btn btn-dark">Search</button>
    </form> -->
    <!-- <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a> -->
  </div>
</div>

<%- include('partials/footer') %>
