<%- include("partials/header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">


  <%  newListItems.forEach(function(item){ %>


      <div class="item">

        <p><%=item.email%></p>
      </div>


  <%  }) %>
  <form class="" action="/list1" method="post">
    <div class="form-group">
      <label for="email">Doctor's Email</label>
      <input type="email" class="form-control" name="usernamedc">
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input type="date" class="form-control" name="date" min="2021-11-20" max="2022-01-20">
    </div>
    <button type="submit" class="btn btn-dark">Take appointment</button>
  </form>



<%- include("partials/footer") -%>
