body
{
  font-family: Montserrat-black;
  /* background-color: violet; */
}
#title
{
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid
{
  padding: 3% 15% 7%;
}
h1
{
  font-family: 'Baloo Bhai 2', cursive;
  font-size: 3.75rem;
  line-height: 1.5;
}
h2
{
  font-family: "Montserrat-Black";
  font-weight: bold;

  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
}
p
{
  color: #8f8f8f;
}

.navbar{
  padding:  0 0 4.5rem;
}

.navbar-brand
{
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 22px;
}
.nav-link
{
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}
.download-button
{
  margin: 6% 2% 2% 0% ;
  /* padding-left: 0; */
}
.title-image
{
  width: 100%;
  /* transform: rotate(25deg); */
  position: absolute;
  right: -10%;
border-radius: 5px;
}
#features{
  padding: 7% 15% ;
  background-color: #fff;
  position: relative;
  z-index: 1;
}
.feature
{
  text-align: center;
  padding: 7%;
}
h3
{
  font-family: 'Baloo Bhai 2';
}
.icon
{
  color: #ef8172;
  margin-bottom: 1rem;
}
.icon:hover{
  color: #ff4c68;
}
#testimonials{
  padding: 7% 15% ;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}
.testimonial-image
{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;

}
#pricing {
  padding: 100px;
text-align: center;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}
@media (max-width: 1028px)
{
  #title{
     text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
#cta{
  background-color: #ff4c68;
  text-align: center;
  color: #fff;
  font-family: "Montserrat-Black";
  padding-top: 53px;
  padding-bottom: 65px;

}
.last{
  margin-top: 0;
}
.lasth3{
  text-align: center;
  font-size: 3.9rem;
  width: 60% ;
  margin-bottom: 50px;

    margin: auto auto;

}
#footer
{
  background-color: #fff;
  /* background-color: violet; */
  text-align: center;
  padding: 7% 15%;
}
.social-action{
  margin: 20px 10px;
}



/* New CSS Properties */
.shadow{
  box-shadow: 10px 10px 25px black;
  border-radius: 0px;
}

.border{
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.card-our-offerings {
  border: 1px solid #f0f0f5;
  box-shadow: 0 4px 8px rgb(0 0 0 / 12%);
  border-radius: 24px;
  cursor: pointer;
}

.card__img--200x290 {
  width: 40vh;
}

.card {
  position: relative;
}

.img-height{
  height: 30vh;
  width: auto;
  border-radius: 5px;
}

a:hover {
  text-decoration: none;
}



/* Dropdown Button */
.dropbtn {
  background-color: #6855f7;
  color: white;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
  width: 8vw;
  height: 10vh;
  font-size: 4vh;
  padding-bottom: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 0px 16px;
  /* text-decoration: none; */
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

.fnt-pad{
  
}